.page-container {
    padding-left: 100px;
    padding-right: 100px;
    background-color: #fff;
    width:100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header-page {
    display: flex;
    width:100%;
    min-width: 400px;
    text-align: center;
    justify-content: center;
}

.pokedex-welcome {
    margin:auto;
    margin-top: 40px;
    font-size: 20px;
    margin-right: 15px;
    margin-left: 15px;
    align-items: center;
}

.pokedex-aside {
    display: flex;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 28px;
}

.space {
    display: flex;
    justify-content: center;
    align-self: center;
    width: max-content;
    align-content: center;
    margin: 0;
}

.card-container {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.pokedex-logo {
    width: 350px;
    position: absolute;
    padding: 0;
    margin: 10px;
    z-index: 5;
    top: 10px;
    left: 10px;
    transition: transform 800ms linear;
}

.pokedex-logo:hover{
    transition: transform 800ms linear;
    transform: scale(1.02);
    filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
    cursor: pointer;
}



@media screen and (min-width: 960px) {
    .pokedex-aside {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        position: relative;
        gap: 10px;
    }
    .space-pagination {
        margin-left: 90px;
    }
}

@media (min-width: 641px) and (max-width: 959px) {
    .pokedex-aside {
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
    }
}

@media screen and (max-width: 640px) {
    .pokedex-aside {
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
    }
}

