.card-container {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    margin: auto;
}

.pokedex-logo {
    width: 370px;
    position: absolute;
    padding: 0;
    margin: 10px;
    z-index: 5;
    top: 10px;
    left: 10px;
}

.pokedex-welcome {
    margin:auto;
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
}

.pokedex-aside {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    position: relative;
}

@media screen and (min-width: 960px) {
    .pokedex-aside {
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
    }
}

@media (min-width: 641px) and (max-width: 959px) {
    .pokedex-aside {
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 30px;
    }
}

@media screen and (max-width: 640px) {
    .pokedex-aside {
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
    }
}

