@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*----Variable CSS----*/
:root {
    --color-red: rgb(199, 28, 28);
    --color-white: white;
}


/*---- RESET ---*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    /* background: url('./images/home/deoxis.png') no-repeat center center fixed;
    background-size: cover; */
}

/* body::before {
    content: "";
    background-color: rgba(207, 207, 207, 0.377);
    inset: 0;
    position: absolute;
} */


h1, h2, h3, h4, ul, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

a {
    font-family: inherit;
    text-decoration: none;
}

input {
    outline: none;
    border: none;
}

button {
    border: none;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 12px;
}    

html::-webkit-scrollbar-thumb{
    background-color:rgb(194, 28, 28);
    border-radius: 1px;
}    

html::-webkit-scrollbar-track{
    background-color:#00141d;
}    