@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.cardpoke {
    width:100%;
    min-width: 330px;
    max-width: 340px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    border-width: 10px;
    height: 530px;
    border-style: solid;
    font-family: 'Inter', sans-serif;
    transition: linear 1s transform;
}

.cardpoke:hover {
    transition: linear 400ms transform;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
    cursor: pointer;
}

.cardpoke_header {
    height: 350px;
    position:relative;
    margin-bottom: 65px;
    z-index: 0;
}

.cardpoke_sprite {
    width: 60%;
    position: absolute;
    top: -110px;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5));
}

.cardpoke_body {
    background-color: #fff;
    position: relative;
    margin-bottom: 0px;
    border-radius: 190px 190px 0px 0px;
    margin-top: -250px;
    padding-top: 100px;
    height: 100%;
}

.cardpoke_name {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.cardpoke_type_box {
    background-color: #00c4aa;
    box-shadow: 2px 2px 4px rgb(58, 58, 58, 0.7);
    width: max-content;
    height: max-content;
}

.cardpoke_types-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}

.cardpoke_type {
    display: flex;
    text-transform: capitalize;
    align-items: center;
    position: relative;
    padding: 8px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(58, 58, 58);
    font-size: 18px;
    font-weight: 500;
    height: 30px;
}

.cardpoke_type-label {
    text-align: center;
    color: #999;
    padding-bottom: 30px;
}

.cardpoke_stat-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 5px;
    justify-items: center;
    padding: 0 5px 35px;
}

.cardpoke_stat {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

.cardpoke_stat-label {
    color: #888;
    width: max-content;
    text-transform: uppercase;
}

@media screen and (min-width: 960px) {
    .cardpoke_stat-number {
        font-size: 18px;
    }
    .cardpoke_stat-label {
        font-size: 12px;
    }
}

@media (min-width: 641px) and (max-width: 959px) {
    .cardpoke_stat-number {
        font-size: 18px;
    }
    .cardpoke_stat-label {
        font-size: 12px;
    }
}

@media screen and (max-width: 640px) {
    .cardpoke_stat-number {
        font-size: 18px;
    }
    .cardpoke_stat-label {
        font-size: 10px;
    }
}

/* Borders Colors*/

.border-normal {
    border-color: #949494;
}
.border-fighting {
    border-color: #c74f3f;
}
.border-flying {
    border-color: #00c4aa;
}
.border-poison {
    border-color: #c573c5;
}
.border-ground {
    border-color:  #d1a96e;
}
.border-rock {
    border-color: #92653b;
}
.border-bug {
    border-color: #8ca826;
}
.border-ghost {
    border-color: #732bb6;
}
.border-steel {
    border-color: #3c697e;
}
.border-fire {
    border-color: #ff853e;
}
.border-water {
    border-color: #4ba8ff;
}
.border-grass {
    border-color: #8ab896;
}
.border-electric {
    border-color:  #e4b945;
}
.border-psychic {
    border-color: #ff5d93;
}
.border-ice {
    border-color: #00cad1;
}
.border-dragon {
    border-color: #4d61ce;
}
.border-dark {
    border-color: #252525;
}
.border-fairy {
    border-color: #d873d8;
}

/* Background Colora */

.bg-normal {
    background: linear-gradient(178.92deg, #5a5a5a 5%, #a1a1a1 30%, #edecff 60%);
}
.bg-fighting {
    background: linear-gradient(178.92deg, #7e0e0e 5%, #cc2e2e 30%, #ffa1a1 60%);
}
.bg-flying {
    background: linear-gradient(178.92deg, #47c5aa 5%, #76cece 30%, #a4f7c0 60%);
}
.bg-poison {
    background: linear-gradient(178.92deg, #7e26b1 5%, #b41ce2 30%, #f0beff 60%);
}
.bg-ground {
    background: linear-gradient(178.92deg, #a8713d 5%, #dfb260 30%, #fff6a6 60%);
}
.bg-rock {
    background: linear-gradient(178.92deg, #491b00 5%, #724b18 30%, #d19862 60%);
}
.bg-bug {
    background: linear-gradient(178.92deg, #99bb01 5%, #c1ce50 30%, #f6ffc5 60%);
}
.bg-ghost {
    background: linear-gradient(178.92deg, #3a007c 5%, #661eb8 30%, #b65cd1 60%);
}
.bg-steel {
    background: linear-gradient(178.92deg, #003f5c 5%, #25495a 30%, #5c6c74 60%);
}
.bg-fire {
    background: linear-gradient(178.92deg, #ff9563 5%, #ffa149 30%, #ffe449 60%);
}
.bg-water {
    background: linear-gradient(178.92deg, #1bb7ff 5%, #3ad1ff 30%, #adf5ff 60%);
}
.bg-grass {
    background: linear-gradient(178.92deg, #7EC6C5 5%, #ABDAC6 30%, #CAE099 60%);
}
.bg-electric {
    background: linear-gradient(178.92deg, #ffc420 5%, #ffec46 30%, #faffb1 60%);
}
.bg-psychic {
    background: linear-gradient(178.92deg, #b91f52 5%, #bd3965 30%, #ff81bc 60%);
}
.bg-ice {
    background: linear-gradient(178.92deg, #16d8d8 5%, #8eebeb 30%, #d3ffd1 60%);
}
.bg-dragon {
    background: linear-gradient(178.92deg, #061452 5%, #243894 30%, #4385c4 60%);
}
.bg-dark {
    background: linear-gradient(178.92deg, #292929 5%, #575757 30%, #8491ad 60%);
}
.bg-fairy {
    background: linear-gradient(178.92deg, #ff9afa 5%, #ffc1f5 30%, #edcdfc 60%);
}

/* Letter Color */

.letter-normal {
    color: #777777;
}
.letter-fighting {
    color: #941100;
}
.letter-flying {
    color: #00757e;
}
.letter-poison {
    color: #743b74;
}
.letter-ground {
    color: #be9549;
}
.letter-rock {
    color: #693300;
}
.letter-bug {
    color: #3e8001;
}
.letter-ghost {
    color: #311480;
}
.letter-steel {
    color: #003f5c;
}
.letter-fire {
    color: #d47345;
}
.letter-water {
    color: #24acce;
}
.letter-grass {
    color: #73997d;
}
.letter-electric {
    color: #daa000;
}
.letter-psychic {
    color: #d83838;
}
.letter-ice {
    color: #01a0a5;
}
.letter-dragon {
    color: #001380;
}
.letter-dark {
    color: #414141;
}
.letter-fairy {
    color: #b977be;
}

