.search {
    display: flex;
    align-items: center;
    border: solid rgb(196, 1, 1);
    position: relative;
    height: 34px;
    cursor: auto;
    border-radius: 5px;
}

.search-input {
    height: 28px;
}

.selectType {
    background-color: var(--color-red);
    position: relative;
    border-radius: 5px;
    border: solid rgb(196, 1, 1);
    width: 160px;
    height: 28px;
    color: aliceblue;
    cursor: pointer;
}

.button-input {
    cursor: pointer;
    background-color: var(--color-red);
    color: aliceblue;
    border-radius: 1px;
    border: solid rgb(196, 1, 1);
    height: 28px;
}

@media screen and (min-width: 960px) {
    .selectType {
        margin-right: 110px;
        margin-left: 100px;
        font-size: 16px;
    }
    .search {
        font-size: 18px;
        margin-left: 110px;
    }
    .search-input {
        font-size: 16px;
    }
    .button-input {
        font-size: 16px;
    }
}

@media (min-width: 641px) and (max-width: 959px) {
    .selectType {
        margin-right: 100px;
        margin-left: 100px;
        font-size: 16px;
    }
    .search {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {
    .selectType {
        font-size: 14px;
        text-align: center;
    }
    .search {
        font-size: 14px;
        text-align: center;
    }
    .search-input {
        font-size: 14px;
        margin-left: 10px;
    }
    .button-input {
        height: 34px;
    }
}