.search {
    display: flex;
    align-items: center;
    border: solid rgb(196, 1, 1);
    height: 34px;
    cursor: auto;
    background-color:rgb(45, 83, 71);
    border-radius: 5px;
}

.search-input {
    height: 28px;
    width: 160px;
}

.selectType {
    background-color: var(--color-red);
    border: solid rgb(196, 1, 1);
    height: 28px;
    color: aliceblue;
    align-items: start;
    display: flex;
    width: 140px;
    cursor: pointer;
}

.button-input {
    cursor: pointer;
    background-color: var(--color-red);
    color: aliceblue;
    border-radius: 5px;
    border: solid rgb(196, 1, 1);
    height: 28px;
}

@media screen and (min-width: 960px) {
    .selectType {
        font-size: 16px;
        border-radius: 4px;
    }
    .search {
        font-size: 18px;
        margin-left: 0px;
    }
    .search-input {
        font-size: 16px;
    }
    .button-input {
        font-size: 16px;
        border-radius: 2px;
    }
}

@media (min-width: 641px) and (max-width: 959px) {
    .selectType {
        margin-right: 100px;
        margin-left: 100px;
        border-radius: 3px;
        font-size: 16px;
    }
    .search {
        font-size: 16px;
    }
    .search-input {
        font-size: 16px;
    }
    .button-input {
        font-size: 16px;
        border-radius: 2px;
    }
}

@media screen and (max-width: 640px) {
    .selectType {
        font-size: 14px;
        text-align: center;
        border-radius: 4px;
    }
    .search {
        font-size: 14px;
        text-align: center;
    }
    .search-input {
        font-size: 14px;
    }
    .button-input {
        height: 34px;
        border-radius: 5px;
    }
}