.pagination {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination_container {
    display: flex;
}

.pagination_prev,
.pagination_next,
.pagination_page {
    width: 35px;
    aspect-ratio: 1;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.pagination_active {
    background-color: var(--color-red);
    color: aliceblue;
    border-radius: 5px;
}

@media screen and (min-width: 960px) {
    .pagination_prev,
    .pagination_next,
    .pagination_page {
        aspect-ratio: 1;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    .pagination {
        font-size: 15px;
    }
    .pagination_container{
        font-size: 15px;
        gap: 5px;
    }
}

@media (min-width: 641px) and (max-width: 959px) {
    .pagination_prev,
    .pagination_next,
    .pagination_page {
        width: 35px;
    }
    .pagination {
        font-size: 14px;
    }
    .pagination_container{
        font-size: 14px;
        gap: 4px;
    }
}

@media screen and (max-width: 640px) {
    .pagination_prev,
    .pagination_next,
    .pagination_page {
        width: 28px;
    }
    .pagination {
        font-size: 12px;
    }
    .pagination_container{
        font-size: 12px;
        gap: 2px;
    }
}