.pagination {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination_container {
    display: flex;
    gap: 5px;
}

.pagination_prev,
.pagination_next,
.pagination_page {
    width: 35px;
    aspect-ratio: 1;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.pagination_active {
    background-color: var(--color-red);
    color: aliceblue;
    border-radius: 5px;
}