.view {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    text-align: center;
}

.notFound {
    height: 100%;
    width: 200px;
    margin: 100px;
    animation: ejeX 3s linear infinite;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.699));
}

.return {
    color: white;
    background-color: var(--color-red);
    box-shadow: -1px 1px 10px #0003;
    text-shadow: 0.1rem 0.1rem rgb(32, 32, 32);
    height: 40px;
    width: 150px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    align-items: flex-end;
    border-radius: 1.2rem;
}

.return:hover {
    background-color: aliceblue;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.781);
    text-shadow: none;
    color: var(--color-red);
    font-weight: bold;
    font-size: 0.9rem;
}

@keyframes ejeX {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}